{{!
    This file is part of tool_jasmine

    Copyright (C) 2017 onwards Totara Learning Solutions LTD

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    @author Joby Harding <joby.harding@totaralearning.com>
    @package tool_jasmine
}}
{{!
    Template library example intentionally omitted.
}}
@{{plugin}} @javascript @jasmine
Feature: {{plugin}} JavaScript

Scenario: {{plugin}} Jasmine specs pass
Given I log in as "admin"
{{#specs}}
And I navigate to the "{{plugin}}" plugin "{{.}}" Jasmine spec
Then I should see that the Jasmine spec has passed
{{/specs}}