<?php
/*
 * Copyright (C) 2016 onwards Joby Harding
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @copyright 2016 onwards Joby Harding
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 * @author    Joby Harding <joby@iamjoby.com>
 * @package   tool_jasmine
 */

require_once("{{dirroot}}/config.php");

global $CFG, $USER, $PAGE;

require_login();
require_capability('moodle/site:config', context_system::instance(), $USER->id);

$reporter = optional_param('reporter', '', PARAM_ALPHA);
$reporter = in_array($reporter, array('tap', 'junit')) ? $reporter : '';

$PAGE->set_context(context_system::instance());

?>
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Jasmine Spec Runner v2.5.2</title>

    <link rel="shortcut icon" type="image/png" href="{{wwwroot}}/admin/tool/jasmine/lib/jasmine-2.5.2/jasmine_favicon.png">
    <link rel="stylesheet" href="{{wwwroot}}/admin/tool/jasmine/lib/jasmine-2.5.2/jasmine.css">

    <script src="{{wwwroot}}/admin/tool/jasmine/lib/jasmine-2.5.2/jasmine.js"></script>
    <script src="{{wwwroot}}/admin/tool/jasmine/lib/jasmine-2.5.2/jasmine-html.js"></script>

    <script src="{{wwwroot}}/admin/tool/jasmine/lib/jasmine-2.5.2/boot.js"></script>

    <script src="{{wwwroot}}/admin/tool/jasmine/lib/sinon-1.17.3/sinon-1.17.3.js"></script>

    <?php

    // This head code contains sesskey so cannot be output statically.
    echo $PAGE->requires->get_head_code($PAGE, new core_renderer($PAGE, null));

    ?>

    <style>
        /*
         * TODO remove this once we
         * can avoid using headcode.
         */
        .skiplinks {
            display: none;
        }
    </style>

</head>

<body>
    <script>
        // This facilitates initializing
        // Jasmine once all of the included
        // spec scripts are complete (requires
        // each script to call specDone() when
        // all tests have been defined).
        var numSpecs = {{speccount}};
        var specDone = (function() {
            var t = window.setTimeout(function() {
                document.body.innerHTML = ''
                    + '<style>* { border: 0; margin: 0; padding: 0; }'
                    + 'html { padding: 1.25rem 1.5rem;'
                    + 'font-family: Helvetica Neue, Arial, Sans-serif; }'
                    + 'h1 { padding-bottom: 0.5rem; }</style>'
                    + '<h1>Timeout</h1>'
                    + '<p>Did you remember to call <code>specDone()</code> '
                    + 'after your tests in each spec file?</p>';
                throw new Error('Test execution was not triggered');
            }, (numSpecs * 2000));

            var count = 0;
            return function () {
                if (count < numSpecs - 1) {
                    return count += 1;
                }
                window.clearTimeout(t);
                return window.executeJasmineTests();
            };
        })();

    </script>
    {{{topbodycode}}}
    {{{endcode}}}

    {{#specfiles}}
        <script src="{{.}}"></script>
    {{/specfiles}}
</body>
</html>
